
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/DangNhapPartial.cshtml";
}

@*<div class="design-w3l">
        <div class="mail-form-agile">
            <form action="#" method="post">
                <input type="text" name="name" placeholder="User Name  or  email..." required="" />
                <input type="password" name="password" class="padding" placeholder="Password" required="" />
                <input type="submit" value="login">
            </form>
        </div>
        <div class="clear"> </div>
    </div>*@
@using (Html.BeginForm("Login", "Login"))
{
    <div class="design-w3l">
        <div class="mail-form-agile">
            <input type="text" name="txtTenDangNhap" class="input-form" placeholder="Tài Khoản " required="required">
            <input type="password" name="txtMatKhau" class="padding" placeholder="Mật Khẩu" required="required">
            <input type="submit" value="Đăng Nhập">
        </div>
    </div>
}
