@using Web_QuanLyChungCu.Controllers
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";

}
@*<div class="col-md-12">
    <div style="text-align:right">
        @Session["DangNhapAdmin"]
        @Html.ActionLink("Logout","Logout","Login")
        
    </div>
</div>*@
<div>
    <h1> Chào mừng @Session["DangNhapAdmin"] </h1>
</div>
